In [1]:
#Load libraries
import pandas as pd
import os
import pymongo as pymongo
from pymongo import MongoClient
import pprint
import json

In [2]:
# Install pymongo library
#!pip install pymongo

Collecting pymongo
  Downloading https://files.pythonhosted.org/packages/f8/dd/922ba69a1bafe2e2cfa46c06483cedab01ea7b76c7c3109ba62f430b0dcc/pymongo-3.10.0-cp37-cp37m-win_amd64.whl (354kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.10.0

In [3]:
#Set working directory
os.chdir('C:\\Users\\patil\\Downloads\\DS_works\\DataSets')

In [4]:
#Check current working directory
os.getcwd()

'C:\\Users\\patil\\Downloads\\DS_works\\DataSets'

In [20]:
# Connect to the MongoDB, change the connection string per your MongoDB environment, 
# Or u can install in remote PC by providing IP instead of port number
Channel = MongoClient(port=27017)

In [6]:
# Set the db object to point to the business database
Select_db = Channel.ReviewScrapper

In [7]:
# Inspect all the collections (tables) in mongodb and exclude defaut ones
Collection_Names = Select_db.collection_names(include_system_collections = False)

C:\Users\patil\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.

In [23]:
# Extract first document.  #(1st obs. of table (in terms of SQL db))
pprint.pprint(Select_collection.find_one())

{'City': 'Anacortes',
 'Country': 'United States',
 'Customer ID': '3',
 'Customer Name': 'Bonnie Potter',
 'Customer Segment': 'Corporate',
 'Discount': '0.01',
 'Order Date': '1/7/2015',
 'Order ID': '88522',
 'Order Priority': 'High',
 'Postal Code': '98221',
 'Product Base Margin': '0.54',
 'Product Category': 'Office Supplies',
 'Product Container': 'Wrap Bag',
 'Product Name': 'SANFORD Liquid Accent� Tank-Style Highlighters',
 'Product Sub-Category': 'Pens & Art Supplies',
 'Profit': '4.56',
 'Quantity ordered new': '4',
 'Region': 'West',
 'Row ID': '20847',
 'Sales': '13.01',
 'Ship Date': '1/8/2015',
 'Ship Mode': 'Express Air',
 'Shipping Cost': '0.93',
 'State or Province': 'Washington',
 'Unit Price': '2.84',
 '_id': ObjectId('5e09be4e5059672c34b9d5e7')}

In [24]:
# Set collection name
Select_collection = Select_db.Static

In [25]:
# now try to Extract whole data from mongodb
# Create json file
cursor = Select_collection.find()
cursor

In [26]:
# Convert json into pandas
result = pd.DataFrame(list(cursor))
result

,_id,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,5e09be4e5059672c34b9d5e7,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,1/7/2015,1/8/2015,4.56,4,13.01,88522
1,5e09be4e5059672c34b9d5e8,20228,Not Specified,0.02,500.98,26,5,Ronnie Proctor,Delivery Truck,Home Office,...,West,California,San Gabriel,91776,6/13/2015,6/15/2015,4390.3665,12,6362.85,90193
2,5e09be4e5059672c34b9d5e9,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,...,0.45,United States,East,New Jersey,Roselle,7203,2/15/2015,2/17/2015,-53.8096,22
3,5e09be4e5059672c34b9d5ea,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,...,Central,Minnesota,Prior Lake,55372,5/12/2015,5/14/2015,803.4705,16,1164.45,86838
4,5e09be4e5059672c34b9d5eb,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,...,Central,Minnesota,Prior Lake,55372,5/12/2015,5/13/2015,-24.03,7,22.23,86838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1949,5e09be4f5059672c34b9dd84,19843,High,0.1,7.99,5.03,3397,Andrea Shaw,Regular Air,Small Business,...,Central,Illinois,Danville,61832,3/11/2015,3/12/2015,-160.952,22,143.12,87536
1950,5e09be4f5059672c34b9dd85,26208,Not Specified,0.08,11.97,5.81,3399,Marvin Reid,Regular Air,Small Business,...,Central,Illinois,Des Plaines,60016,3/29/2015,3/31/2015,-41.87,5,59.98,87534
1951,5e09be4f5059672c34b9dd86,24911,Medium,0.1,9.38,4.93,3400,Florence Gold,Express Air,Small Business,...,United States,East,West Virginia,Fairmont,26554,4/4/2015,4/4/2015,-24.7104,15,135.78
1952,5e09be4f5059672c34b9dd87,25914,High,0.1,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,United States,West,Wyoming,Cheyenne,82001,2/8/2015,2/11/2015,349.485,5,506.5
1953,5e09be4f5059672c34b9dd88,,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [32]:
type(result)

pandas.core.frame.DataFrame

In [28]:
result.head(2)

,_id,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,5e09be4e5059672c34b9d5e7,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,1/7/2015,1/8/2015,4.56,4,13.01,88522
1,5e09be4e5059672c34b9d5e8,20228,Not Specified,0.02,500.98,26,5,Ronnie Proctor,Delivery Truck,Home Office,...,West,California,San Gabriel,91776,6/13/2015,6/15/2015,4390.3665,12,6362.85,90193

In [30]:
# save this csv file back into mongodb in Key:Value format (.jason)
NewData = pd.read_csv("Missing_perc2.csv")

In [33]:
# Convert dataframe into json format
JsnMissPerc2 = json.loads(NewData.T.to_json()).values()

In [34]:
type(JsnMissPerc2 )  # .JASON = dictionary = KV pair

dict_values

In [35]:
# select DB-create_file of missPerc2-Insert new json (JsnMissPerc2=collection) into mongo 
Select_db.MissPerc2.insert(JsnMissPerc2)

C:\Users\patil\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

[ObjectId('5e4ae7394b34dc1735d31da6'),
 ObjectId('5e4ae7394b34dc1735d31da7'),
 ObjectId('5e4ae7394b34dc1735d31da8'),
 ObjectId('5e4ae7394b34dc1735d31da9'),
 ObjectId('5e4ae7394b34dc1735d31daa'),
 ObjectId('5e4ae7394b34dc1735d31dab'),
 ObjectId('5e4ae7394b34dc1735d31dac'),
 ObjectId('5e4ae7394b34dc1735d31dad'),
 ObjectId('5e4ae7394b34dc1735d31dae'),
 ObjectId('5e4ae7394b34dc1735d31daf'),
 ObjectId('5e4ae7394b34dc1735d31db0'),
 ObjectId('5e4ae7394b34dc1735d31db1'),
 ObjectId('5e4ae7394b34dc1735d31db2'),
 ObjectId('5e4ae7394b34dc1735d31db3'),
 ObjectId('5e4ae7394b34dc1735d31db4'),
 ObjectId('5e4ae7394b34dc1735d31db5'),
 ObjectId('5e4ae7394b34dc1735d31db6'),
 ObjectId('5e4ae7394b34dc1735d31db7'),
 ObjectId('5e4ae7394b34dc1735d31db8'),
 ObjectId('5e4ae7394b34dc1735d31db9'),
 ObjectId('5e4ae7394b34dc1735d31dba'),
 ObjectId('5e4ae7394b34dc1735d31dbb')]

In [36]:
Collection_Names = Select_db.collection_names(include_system_collections = False)

C:\Users\patil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

In [38]:
# see  all the collections (tables) in mongodb and exclude defaut ones

Collection_Names = Select_db.collection_names(include_system_collections = False)
Collection_Names

C:\Users\patil\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  This is separate from the ipykernel package so we can avoid doing imports until

['Static', 'MissPerc2', 'Header of page']

In [39]:
# Drop collections
Select_db.templates.drop()

In [19]:
# First, import the DeployClient and MLServer classes from 
# the azureml-model-management-sdk package so you can 
# connect to Machine Learning Server (use=MLServer).

from azureml.deploy import DeployClient
from azureml.deploy.server import MLServer

ModuleNotFoundError: No module named 'azureml'

In [1]:

# Define the endpoint of the host Machine Learning Server.
HOST = '{{YOUR_HOST_ENDPOINT}}'

# Pass in credentials for the AAD context as a dictionary. 
# Omit username & password to use ADAL to authenticate. 
context = {
    'authuri': 'https://login.windows.net',
    'tenant': '{{AAD_DOMAIN}}',
    'clientid': '{{NATIVE_APP_CLIENT_ID}}',
    'resource': '{{WEB_APP_CLIENT_ID}}',
    'username': '{{YOUR_USERNAME}}',  
    'password': '{{YOUR_PASSWORD}}' 
}
​
client = DeployClient(HOST, use=MLServer, auth=context)

SyntaxError: invalid character in identifier (<ipython-input-1-cc6bfcd3310a>, line 21)